{
	"databases":{
		"driver": "mongodb",
	    "mongodb":{
            "user":"<INSERT USER>",
            "password":"<INSERT PASSWORD>",
            "mechanism":"SCRAM-SHA-1",
	        "host":"localhost",
            "port":27017,
	        "db":"kintun",
	        "collection_scans":"scans"
	    }
	},
  "endpoints":{
      "NGEN": "https://incidentes.cert.unlp.edu.ar/api/v1/incidents.json?apikey=<INSERT API KEY HERE>",
	    "NGEN-dev": "https://develop.ngen.cert.unlp.edu.ar/api/v1/incidents.json?apikey=<INSERT API KEY HERE>",
	    "Another API": "https://<API URL>/incidents.json?apikey=<API KEY>",
      "localhost": "https://localhost:5000/api/print",
      "": ""
  },
  "info":{
  	"version":0.1,
  	"name":"Kintun",
		"license":"GPLv3"
  },
  "scan":{
      "folder_output": "outputs",
		  "folder_nse": "scannerapp/model/vuln/nse/",
		  "folder_custom": "scannerapp/model/vuln/custom/",
		  "folder_lib": "scannerapp/model/vuln/custom/lib/",
      "file_prefix": "",
      "max_running": 15
  },
  "ssl":{
      "crt": "key.crt",
		  "key": "key.key",
		  "folder": "ssl"
  },
	"log":{
		"name": "app_log",
		"stdout":{
			"name":"stdout.log"
		},
		"error":{
			"name":"error.log"
		}
  },
  "maillog":{
      "name": "Kintun",
      "me": "spampot@cert-kintun.unlp.edu.ar",
      "recipients_error": ["mdurante@cert.unlp.edu.ar"],
      "recipients_log": ["mdurante@cert.unlp.edu.ar"],
      "recipients": ["mdurante@cert.unlp.edu.ar"],
      "subject": "[{0}]{1} Reporte {0}",
      "body": "Le enviamos un reporte automático. {0}\n\nCERT-UNLP",
      "mail_server": "163.10.40.194",
      "file_name": "{0}.txt",
      "detail": ""
  }
}
