<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Agregar FontAwesome para el ícono de copiar -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Kintun</title>
</head>

<body>
    <div class="container">
        <h1>Vulnerability Scanner</h1>
        <p class="lead">
            Before starting a new scan, you can check the <a href="{{ url_for('get_historic_page') }}" class="btn btn-info">Historic Scans</a> to review previous results.
        </p>
        <form id="scanForm">
            <label for="target">Target (IP or Domain):</label>
            <input type="text" id="target" name="target" required>
            <span id="targetError" style="color: red;"></span>

            <label for="vuln">Vulnerability Type:</label>
            <select id="vuln" name="vuln" required>
                {% for vuln in vulns %}
                <option value="{{ vuln }}">{{ vuln }}</option>
                {% endfor %}
            </select>

            <br>
            <br>
            <label for="protocol">Protocol:</label>
            <select id="protocol" name="protocol" required>
                <option value="tcp">TCP</option>
                <option value="udp">UDP</option>
            </select>

            <br>
            <br>

            <div id="portsContainer">
                <label for="ports">Ports (comma-separated):</label>
                <input type="text" id="ports" name="ports">
                <span id="portsError" style="color: red;"></span>
            </div>

            <button type="submit">Scan</button>
        </form>
        <div id="result"></div>
        <!-- Nuevo contenedor para mostrar el JSON -->
        <div id="jsonResult"></div>
    </div>

    <script>
        const ONLY_DEFAULT_PORT = [
            "blocklist",
            "dnsrecursive",
            "dnszonetransfer",
            "httpgooglemalware",
            "netbiossmb",
            "ntpversion",
            "openportmap2",
            "socksopenproxy"
        ];

        function isValidIP(ip) {
            const ipPattern = /^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$/;
            return ipPattern.test(ip);
        }

        function isValidDomain(domain) {
            const domainPattern = /^(?!:\/\/)([a-zA-Z0-9-_]+\.)*[a-zA-Z0-9][a-zA-Z0-9-_]+\.[a-zA-Z]{2,11}?$/;
            return domainPattern.test(domain);
        }

        function isValidPorts(ports) {
            const portsPattern = /^(\d+)(,\d+)*$/;
            return portsPattern.test(ports) || ports === '';
        }

        function handleVulnChange() {
            const vulnSelect = document.getElementById('vuln');
            console.log(vulnSelect.value);
            const portsContainer = document.getElementById('portsContainer');
            const portsInput = document.getElementById('ports');
            const selectedVuln = vulnSelect.value;

            if (ONLY_DEFAULT_PORT.includes(selectedVuln)) {
                portsContainer.style.display = 'none';
                portsInput.value = '';
            } else {
                portsContainer.style.display = 'block';
            }
        }

        document.getElementById('vuln').addEventListener('change', handleVulnChange);
        document.addEventListener('DOMContentLoaded', handleVulnChange);

        // Función para copiar texto al portapapeles
        function copyToClipboard(text) {
            navigator.clipboard.writeText(text)
                .then(() => {
                    const button = document.querySelector('button[onclick^="copyToClipboard"]');
                    const hint = document.createElement('span');
                    hint.textContent = 'Link copied!';
                    hint.style.position = 'absolute';
                    hint.style.backgroundColor = '#333';
                    hint.style.color = '#fff';
                    hint.style.padding = '5px';
                    hint.style.borderRadius = '5px';
                    hint.style.top = `${button.offsetTop - 30}px`;
                    hint.style.left = `${button.offsetLeft}px`;
                    hint.style.zIndex = '1000';
                    document.body.appendChild(hint);
                    setTimeout(() => document.body.removeChild(hint), 2000);
                })
                .catch((error) => console.error('Failed to copy:', error));
        }

        // Función para actualizar el JSON
        function updateJson(uri) {
            fetch(uri)
                .then(response => response.json())
                .then(data => {
                    const jsonResult = document.getElementById('jsonResult');
                    jsonResult.innerHTML = ''; // Limpiar el contenido anterior

                    // Mostrar el estado actual
                    const statusElement = document.createElement('p');
                    statusElement.textContent = `Status: ${data.status || 'unknown'}`;
                    jsonResult.appendChild(statusElement);

                    // Mostrar el JSON
                    const pre = document.createElement('pre');
                    pre.textContent = JSON.stringify(data, null, 2);
                    jsonResult.appendChild(pre);

                    // Si el estado no es "finished" o "error", refrescar cada 2 segundos
                    if (data.status && data.status !== "finished" && data.status !== "error") {
                        setTimeout(() => updateJson(uri), 2000); // Refrescar cada 2 segundos
                    }
                })
                .catch((error) => {
                    console.error('Error fetching updated JSON:', error);
                });
        }

        document.getElementById('scanForm').addEventListener('submit', function (event) {
            event.preventDefault();

            const targetInput = document.getElementById('target').value;
            const protocolInput = document.getElementById('protocol').value;
            const portsInput = document.getElementById('ports').value;

            let isValid = true;

            if (!isValidIP(targetInput) && !isValidDomain(targetInput)) {
                document.getElementById('targetError').innerText = 'Invalid IP or domain.';
                isValid = false;
            } else {
                document.getElementById('targetError').innerText = '';
            }

            if (!isValidPorts(portsInput)) {
                document.getElementById('portsError').innerText = 'Invalid ports format. Use comma-separated values without spaces.';
                isValid = false;
            } else {
                document.getElementById('portsError').innerText = '';
            }

            if (!isValid) {
                return;
            }

            const url = '/api/scan';
            const data = {
                vuln: document.getElementById('vuln').value,
                network: targetInput,
                protocol: [protocolInput],
                ports: portsInput ? portsInput.split(',') : [],
                params: { "feed": "test", "send-nmap-report": 0 },
                outputs: [],
                report_to: ""
            };

            fetch(url, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(data => {
                    console.log('Success:', data);
                    if (data.uri) {
                        const resultDiv = document.getElementById('result');
                        resultDiv.innerHTML = `
                        Scan submitted successfully! 
                        <a href="${data.uri}" target="_blank">Open Full Report</a>
                        <button onclick="copyToClipboard('${data.uri}')" title="">
                            <i class="fas fa-copy"></i>Copy link
                        </button>
                    `;
                        // Llamar a la función para actualizar el JSON
                        updateJson(data.uri);
                    } else {
                        document.getElementById('result').innerText = data.message || 'Scan submitted successfully!';
                    }
                })
                .catch((error) => {
                    console.error('Error:', error);
                    document.getElementById('result').innerText = 'Error submitting scan.';
                });
        });
    </script>
</body>

</html>
